@font-face{
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}